* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    width: 350px;
    padding: 40px 30px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);;
    color: white;
    text-align: center;
  }

  .login-container h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
  }

  .login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1rem;
}


  .login-container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  .login-container .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .login-container input[type="checkbox"] {
    margin-right: 6px;
  }

  .login-container button {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .login-container button:hover {
    background-color: #ddd;
  }

  .login-container .register {
    margin-top: 20px;
    font-size: 0.9rem;
  }

  .login-container .register a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
  }